trigger:
  branches:
    include:
      - development

pool:
  vmImage: 'ubuntu-latest'

steps:
  # Install Node.js
  - task: NodeTool@0
    inputs:
      versionSpec: '16.x'
    displayName: 'Install Node.js'

  # Install Dependencies
  - script: npm install
    displayName: 'Install dependencies'

  # Run Tests
  - script: npm test
    displayName: 'Run unit tests'

  # Static Code Analysis (Optional)
  - script: npx eslint .
    displayName: 'Run ESLint (Static Code Analysis)'
